Repository chakshutandon/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare:hugo, prepare:firebase

prepare:hugo:
  image: docker:stable
  services:
  - docker:dind
  stage: prepare
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/$CI_PROJECT_PATH/hugo:latest -f docker/hugo.dockerfile .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/hugo:latest

prepare:firebase:
  image: docker:stable
  services:
  - docker:dind
  stage: prepare
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/$CI_PROJECT_PATH/firebase:latest -f docker/firebase.dockerfile .
  - docker push $CI_REGISTRY/$CI_PROJECT_PATH/firebase:latest

update pipeline
  .gitlab-ci.yml
Due: none

update pipeline
  docker/firebase.dockerfile
  docker/hugo.dockerfile
Due: prepare:hugo, prepare:firebase

update pipeline
  docker/hugo.dockerfile
Due: prepare:hugo

Update Pipeline
  .gitlab-ci.yml
  Dockerfile
  docker/firebase.dockerfile
  docker/hugo.dockerfile
Due: prepare:hugo, prepare:firebase

Bugfix: update environment name to match firebase config
  .gitlab-ci.yml
Due: none

Update sidebar.json
  data/sidebar.json
Due: none

update resume
  static/chakshutandon-resume.pdf
Due: none

Update experience.json
  data/experience.json
Due: none

Update data/experience.json, data/sidebar.json
  data/experience.json
  data/sidebar.json
Due: none

Site and pipeline improvements
  .firebaserc
  .gitlab-ci.yml
  .hugo_build.lock
  config.toml
  data/experience.json
  data/sidebar.json
  docker/firebase.dockerfile
  layouts/404.html
  layouts/index.html
  layouts/partials/experience.html
  layouts/partials/header.html
  layouts/partials/sidebar.html
  static/css/styles.css
Due: prepare:firebase

Fix gitlab.ci.yml
  .gitlab-ci.yml
Due: none

Fix string escape
  .gitlab-ci.yml
Due: none

Remove staging job
  .gitlab-ci.yml
  docker/hugo.dockerfile
Due: prepare:hugo

Add staging env
  .gitlab-ci.yml
Due: none

Remove bad flag
  .gitlab-ci.yml
Due: none

Add preview channel expiry
  .gitlab-ci.yml
Due: none

Split staging and production pipeline steps
  .gitlab-ci.yml
Due: none

Update google analytics property to GA4
  layouts/404.html
  layouts/partials/header.html
Due: none

Path conditions:
  prepare:hugo: any of: docker/hugo.dockerfile
  prepare:firebase: any of: docker/firebase.dockerfile
